<mat-card fxFlex.lg="30" fxFlex.sm="50" fxFlex.md="60">
  <mat-card-title class="matcardtitle">Login</mat-card-title>
  <div class="example-container">
    <mat-form-field>
      <input
        matInput
        placeholder="Enter your email"
        autocomplete="on"
        [(ngModel)]="model.email"
        [formControl]="email"
        required
      />
      <mat-error *ngIf="email.invalid">{{ getErrorMessage() }}</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        minlength="6"
        maxlength="6"
        [(ngModel)]="model.pass"
        placeholder="Password"
        type="password"
        [formControl]="pass"
        required
      />
      <mat-error *ngIf="pass.invalid">{{ getPassErrorMessage() }}</mat-error>
    </mat-form-field>
  </div>
  <a routerLink="/forgot" style="color:  #3373e8;" href="">Forgot Password?</a>
  <div></div>
  <div class="button">
    <button
      mat-raised-button
      [routerLink]="link ? ['/fundoo'] : []"
      (click)="login()"
      [disabled]="email.invalid || pass.invalid"
      class="buttonregister"
    >
      Login
    </button>
    <!-- <h5>or sign in with</h5>
    <a (click)="socialSignIn('facebook')">
      <mat-icon svgIcon="fb"></mat-icon> </a
    >&nbsp;
    <a (click)="socialSignIn('google')">
      <mat-icon svgIcon="google"></mat-icon>
    </a> -->
    <div style=" margin-top: 25px;">
      <button routerLink="/register" mat-raised-button class="buttonsign">
        Create new account
      </button>
    </div>
  </div>
  <div *ngIf="iserror">{{ errorMessage }}</div>
  <div align="center">{{ usererror }}</div>
</mat-card>
