<mat-card class="matcardclass" fxFlex.lg="30" fxFlex.sm="50" fxFlex.md="70">
  <div>
    <mat-card-title class="matcardtitle">Forgot Password</mat-card-title>
  </div>
  <div class="example-container">
    <mat-form-field>
      <input
        matInput
        placeholder="Enter your email"
        [(ngModel)]="model.email"
        [formControl]="email"
        required
      />
      <mat-error *ngIf="email.invalid">{{ getErrorMessage() }}</mat-error>
    </mat-form-field>
  </div>
  <div class="button">
    <button
      mat-raised-button
      (click)="forgot()"
      [disabled]="email.invalid"
      class="buttonregister"
    >
      Submit
    </button>
  </div>
  <div align="center">{{ usererror }}</div>
</mat-card>
