.mainmat {
  width: 560px;
  padding: 14px;
  margin-top: 91px;
}

.othermat {
  width: 210px;
  margin-top: 30px;
  height: fit-content;
  padding: 10px;
}

.othermat1 {
  width: 560px;
  margin-top: 30px;
  height: fit-content;
  padding: 10px;
}

.mat-form-field {
  width: 560px;
  border-top: 0px;
  margin-top: -28px;
  padding-bottom: -12px;
}

.example-full-width {
  width: auto;
}

.mat-icon-button {
  width: 33px;
}

.mat-form-field-wrapper {
  padding-bottom: 00;
}

.cardDisplayrow {
  flex-flow: row wrap;
  flex-grow: 1;
  margin: 24px;
  position: relative;
  width: 582px;
  white-space: pre-wrap;
  word-wrap: break-word;
  padding: 0;
  margin-left: 212px;
}

.cardDisplay {
  width: 240px;
  flex-flow: row wrap;
  flex-grow: 1;
  margin: 20px;
  position: relative;
  padding: 0;
  white-space: pre-wrap;
  word-wrap: break-word;
  /* border-radius: 15px; */
}

/* 
  .tools:hover {
      opacity: 1;
  }
  
  .tools {
      opacity: 0;
  } */

.mat-button {
  line-height: 0;
}

.mat-menu-item {
  font-size: 14px;
}

.mat-card:not([class*="mat-elevation-z"]) {
  box-shadow: -313px1px-2pxrgba (0, 0, 0, 0.2), 02px2px0rgba (0, 0, 0, 0.14),
    01px5px0rgba (0, 0, 0, 0.12);
  box-shadow: 006pxblack;
  box-shadow: 0012pxblack;
}

element.style {
  width: 273px;
  margin-top: -14px;
  padding-left: -34px;
  margin-right: 256px;
}

.menu {
  margin-left: 27%;
  margin-top: -25px;
  position: absolute;
  z-index: 100;
  box-shadow: 000pxblack;
  width: 248px;
  height: 221px;
  padding: 2px;
}

.mat-card {
  border-radius: 10px;
}

.mat-button {
  font-size: 12px;
  padding: 0;
}

.timerclass {
  width: 17px;
  height: 17px;
  margin-bottom: 4px;
}

img {
  width: 20px;
  height: 20px;
}

.mainbutton {
  width: 45px;
}

.mat-input-element {
  text-align: left;
}

.maintitle {
  margin-left: -8px;
  margin-top: -15px;
}

.mat-button {
  border-radius: 214px;
}

.colorlens {
  width: 30px;
  height: 30px;
  margin-right: 5px;
  margin-bottom: 6px;
}

.othermenu {
  position: absolute;
  z-index: 100;
  box-shadow: 000pxblack;
  width: 248px;
  height: 221px;
  padding: 2px;
}

/* noteImage {
      width: 100% !important;
      height: 100% !important;
  } */

::ng-deep.noteImage {
  width: 100% !important;
  height: 100% !important;
}

::ng-deep.noteListImage {
  width: 100% !important;
  height: 100% !important;
}
